.main {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 320px;
  background-color: $background_special;
  flex-grow: 1;
}

.wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.user {
  @media (min-width: $tablet-width) {
    width: 35%;
  }
}

.beer {
  @media (min-width: $tablet-width) {
    width: 65%;
  }
}
