.info {
  padding-top: 20px;

  @media(min-width: $tablet-width) {
    padding-top: 4px;
  }
}

.title {
  display: inline-block;
  padding-bottom: 5px;
  margin: 0;

  border-bottom: 2px solid $basic_color;

  font-weight: 600;

  @include font(1.8em, 1em);

  @media(min-width: $tablet-width) {
    padding-bottom: 10px;

    @include font(2.5em, 1em);
  }
}
