@font-face {
  font-family: "jura";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/fonts/jurabook.woff2") format("woff2"), url("~@/assets/fonts/jurabook.woff") format("woff");
}

@font-face {
  font-family: "jura";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~@/assets/fonts/jurademibold.woff2") format("woff2"), url("~@/assets/fonts/jurademibold.woff") format("woff");
}
