//color
$basic_color: #000000;
$main_theme_color: #ffffff;
$border_color: #e6e6e6;
$background_special: #f2f2f2;
$error_color: #ff0000;
$button_remove_color: #ac3f1b;

//fonts
$basic_font: "jura", "Arial", sans-serif;

//main
$main-size: 16px;

// Viewports

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
