.main {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 320px;
  background-color: $background_special;
  flex-grow: 1;
}

.title {
  display: inline-block;
  padding-bottom: 5px;
  margin: 0;

  border-bottom: 2px solid $basic_color;

  font-weight: 600;

  @include font(1.8em, 1em);

  @media(min-width: $tablet-width) {
    padding-bottom: 10px;

    @include font(2.5em, 1em);
  }
}

.favoritesList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.empty {
  font-weight: 600;

  @include font(1.1em, 1em);

  @media(min-width: $tablet-width) {
    @include font(1.3em, 1em);
  }
}
